.wrapper {
  position: relative;
  width: 100%;
  max-width: 960px;
  height: 35px;

  background-size: contain;
  background-repeat: repeat-x;
  background-position: 0 16px;

  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 347 2"><path fill="%23746A6C" d="M345,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,345,1ZM335,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,335,1ZM325,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,325,1ZM315,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,315,1ZM305,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,305,1ZM295,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,295,1ZM285,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,285,1ZM275,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,275,1ZM265,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,265,1ZM255,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,255,1ZM245,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,245,1ZM235,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,235,1ZM225,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,225,1ZM215,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,215,1ZM205,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,205,1ZM195,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,195,1ZM185,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,185,1ZM175,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,175,1ZM165,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,165,1ZM155,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,155,1ZM145,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,145,1ZM135,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,135,1ZM125,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,125,1ZM115,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,115,1ZM105,1h-5a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,105,1ZM95,1H90a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,95,1ZM85,1H80a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,85,1ZM75,1H70a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,75,1ZM65,1H60a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,65,1ZM55,1H50a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,55,1ZM45,1H40a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,45,1ZM35,1H30a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,35,1ZM25,1H20a1,1,0,0,1-1-1,1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,25,1ZM15,1H10A1,1,0,0,1,9,0a1,1,0,0,1,1-1h5a1,1,0,0,1,1,1A1,1,0,0,1,15,1ZM5,1H0A1,1,0,0,1-1,0,1,1,0,0,1,0-1H5A1,1,0,0,1,6,0,1,1,0,0,1,5,1Z" /></svg>');
}

/* sp */
@media screen and (max-width: 767px) {
  .wrapper {
    background-position: 0 16px;
  }
}

.text {
  /* position: absolute; */
  /* bottom: 0; */
  /* display: inline-block; */

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
}

/* SP 高さ660px以下の時 */
@media screen and (max-height: 660px) {
  .text {
    font-size: 13px;
    line-height: 18px;
  }
}
