.wrapper {}

.inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  padding: 30px 38px 50px 50px;
  background-color: #fff;
  border-radius: 20px;
}

/* sp */
@media screen and (max-width: 767px) {
  .inner {
    display: flex;
    padding: 20px;
  }
}

.left-cell {}

@media screen and (max-width: 767px) {
  .right-cell {
    display: none;
  }
}
