.wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 11px;
  transition: opacity 0.3s;
}

.wrapper:hover {
  opacity: 0.8;
}

.wrapper.checked {
  background-color: var(--theme-color-quinary);
}

.wrapper.checked .text {
  color: var(--theme-color-secondary);
  border-color: var(--theme-color-secondary);
}

.inner {
  position: relative;
}

.icon {
  display: none;
  position: absolute;
  top: -4px;
  right: -4px;
}

.icon,
.icon svg {
  display: block;
  width: 14px;
  height: 14px;
}

.text {
  display: inline-block;
  padding: 5px 11px 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  color: var(--theme-color-senary);
  border-radius: 11px;
  border: 2px solid #dedede;
  letter-spacing: 0.01rem;
}

/* sp */
@media screen and (max-width: 767px) {
}

/* pc */
@media screen and (min-width: 768px) {
}
